<style>
    .custom-select-wrapper {
        position: relative;
        user-select: none;
    }

    .custom-select {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .custom-select__trigger {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 22px;
        font-size: 20px;
        font-weight: 300;
        color: #fff;
        height: 40px;
        line-height: 40px;
        background: #5e72e4;
        cursor: pointer;
    }

    .custom-options {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        right: 0;
        border: 2px solid #5e72e4;
        border-top: none;
        background: #fff;
        z-index: 2;
    }

    .custom-option {
        position: relative;
        display: block;
        padding: 0 22px;
        font-size: 18px;
        font-weight: 300;
        color: #333;
        line-height: 40px;
        cursor: pointer;
    }

    .custom-option:hover {
        background: #5e72e4;
        color: #fff;
    }

    .custom-file-upload {
        margin-top: 20px;
    }

    .file-upload-btn {
        background: #5e72e4;
        color: #fff;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
    }

    #fileName {
        margin-top: 10px;
        font-size: 16px;
    }
</style>
<style>
    .custom-file-upload {
        display: block;
        margin: 20px;
    }

    #fileName {
        margin-left: 10px;
    }

    .custom-file-upload {
        display: block;
        margin: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: fit-content;
        padding: 10px;
        cursor: pointer;
        background-color: #f8f8f8;
        text-align: center;
    }

    #fileName {
        margin-left: 10px;
        font-size: 16px;
        color: green;
    }

    .hidden {
        display: none;
    }
</style>

<body>

    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            {{>header}}

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    {{>sidebar}}
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">
                                <div class="page-wrapper">

                                    <div class="page-header">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>Monthly Menu PDF</h4>
                                                        {{!-- <span>lorem ipsum dolor sit amet, consectetur adipisicing
                                                            elit</span> --}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="page-header-breadcrumb">
                                                    <ul class="breadcrumb-title">
                                                        <li class="breadcrumb-item" style="float: left;">
                                                            <a href="dashboard"> <i class="feather icon-home"></i>
                                                                Home
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                {{#if error_msg}}
                                                <div class="alert alert-danger background-danger">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <i class="icofont icofont-close-line-circled text-white"></i>
                                                    </button>
                                                    <strong>Error!</strong> {{error_msg}}
                                                </div>
                                                {{/if}}
                                                {{#if success_msg}}
                                                <div class="alert alert-success background-success">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <i class="icofont icofont-close-line-circled text-white"></i>
                                                    </button>
                                                    <strong>Success!</strong> {{success_msg}}
                                                </div>
                                                {{/if}}
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Upload Monthly Menu</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <form action="/monthlyMenu/addMonthPDF" method="post"
                                                            id="uploadForm" enctype="multipart/form-data">
                                                            <div>
                                                                <label class="col-sm-2 col-form-label">PDF Name</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" name="pdfName"
                                                                        class="form-control"
                                                                        placeholder="Enter name PDF">
                                                                </div>
                                                            </div>
                                                            <div class="custom-file-upload">
                                                                <label for="fileUpload">Upload PDF</label>
                                                                <input type="file" id="fileUpload" name="menuPdf"
                                                                    accept="application/pdf" class="hidden">
                                                                <div id="fileName">No file chosen...</div>
                                                            </div>
                                                            <button type="submit"
                                                                class="btn btn-primary">Upload</button>
                                                        </form>
                                                    </div>
                                                    <div class="card-header">
                                                        <h5>Monthly Menu List</h5>
                                                    </div>
                                                    <div class="card-block">
                                                        <div class="dt-responsive table-responsive">
                                                            <table id="basic-btn"
                                                                class="table table-striped table-bordered nowrap text-center">
                                                                <thead>
                                                                    <tr>
                                                                        {{!-- <th>User Id</th> --}}
                                                                        <th>Sr.No</th>
                                                                        <th>PDF Name</th>
                                                                        <th>PDF</th>
                                                                        <th>Action</th>
                                                                        {{!-- <th>Action</th> --}}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {{#each data}}
                                                                    <tr>
                                                                        <td>{{inc @index}}</td>
                                                                        <td>{{this.pdfName}}</td>
                                                                        <td><a href="{{this.fileUrl}}"
                                                                                target="_blank">View PDF</a></td>
                                                                        <td style="padding-top: 10px;">
                                                                            <div class="dropdown">
                                                                                <button type="button"
                                                                                    class="btn btn-default waves-effect"
                                                                                    data-toggle="modal"
                                                                                    data-target="#deleteRecordModal{{this._id}}">Delete</button>
                                                                                {{!-- <button data-bs-toggle="modal"
                                                                                    data-bs-target="#deleteRecordModal{{this._id}}">Delete</button>
                                                                                --}}
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <!-- Your modal code -->
                                                                    <div class="modal fade"
                                                                        id="deleteRecordModal{{this._id}}" tabindex="-1"
                                                                        role="dialog">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h4 class="modal-title">Delete
                                                                                        Record
                                                                                    </h4>
                                                                                    <button type="button" class="close"
                                                                                        data-dismiss="modal"
                                                                                        aria-label="Close">
                                                                                        <span
                                                                                            aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <h5>Confirmation</h5>
                                                                                    <p>Are you sure you want to delete
                                                                                        this record?</p>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button"
                                                                                        class="btn btn-default waves-effect "
                                                                                        data-dismiss="modal">Cancle</button>
                                                                                    <form
                                                                                        action="/monthlyMenu/deletePDF"
                                                                                        method="post">
                                                                                        <input type="hidden" name="id"
                                                                                            value="{{this._id}}" />
                                                                                        <button type="submit"
                                                                                            class="btn btn-primary waves-effect waves-light ">Delete</button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {{/each}}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Table for displaying uploaded PDFs -->
                                                <!-- Your existing table HTML -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{>footer}}
        </div>
    </div>

    <script>
        // JavaScript for custom select
        document.querySelector('.custom-select-wrapper').addEventListener('click', function () {
            this.querySelector('.custom-select').classList.toggle('open');
        })

        for (const option of document.querySelectorAll(".custom-option")) {
            option.addEventListener('click', function () {
                if (!this.classList.contains('selected')) {
                    this.parentNode.querySelector('.custom-option.selected').classList.remove('selected');
                    this.classList.add('selected');
                    this.closest('.custom-select').querySelector('.custom-select__trigger span').textContent = this.textContent;
                    document.getElementById('monthSelect').value = this.dataset.value;
                }
            })
        }

        window.addEventListener('click', function (e) {
            const select = document.querySelector('.custom-select')
            if (!select.contains(e.target)) {
                select.classList.remove('open');
            }
        });

        // JavaScript for custom file upload
        document.querySelector('.file-upload-btn').addEventListener('click', function () {
            document.getElementById('fileUpload').click();
        });

        document.getElementById('fileUpload').addEventListener('change', function () {
            document.getElementById('fileName').textContent = this.files.length ? this.files[0].name : "No file chosen...";
        });

        function toggleDropdown(threeDots) {
            var dropdownContent = threeDots.nextElementSibling;
            dropdownContent.parentElement.classList.toggle('active');
        }
    </script>
    </script>
    <script>
        document.getElementById('fileUpload').addEventListener('change', function (e) {
            var fileName = e.target.files[0].name;
            document.getElementById('fileName').textContent = 'File chosen: ' + fileName;
            document.getElementById('fileName').style.color = '#4CAF50'; // Change color to indicate success
        });

        document.querySelector('.custom-file-upload').addEventListener('click', function () {
            document.getElementById('fileUpload').click();
        });
    </script>

</body>